.cta {
	position: relative;
	color: #ffffff;
	img {
		width: 100%;
	}
	.cta-text {
		font-weight: bold;
		font-size: 75px;
		line-height: 90px;
		position: absolute;
		bottom: 50px;
		left: 10%;
	}
}
